:root {
  --bg: #070606;
  --text: #fff;
  --secondary: #fff;
  --show: 1;
  --button-glow: drop-shadow(0px 0px 21px #f14a16);
  --card-grey-bg: linear-gradient(
    164deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100.82%
  );
  --card-grey-shadow: none;
  --cta-shadow: none;
  --toggle-shadow: none;
  --brightness-filter: none;
  --nav-bg: #fcfcfc22;
}
[data-theme="light"] {
  --show: 0;
  --text: #000;
  --secondary: #282828;
  --bg: #fcfcfc;
  --button-glow: drop-shadow(2px 4px 18px rgba(241, 74, 22, 0.25));
  --card-grey-bg: #282828;
  --card-grey-shadow: 5px 10px 18px 0px rgba(0, 0, 0, 0.25);
  --cta-shadow: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.6));
  --toggle-shadow: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
  --brightness-filter: brightness(0.117);
  --nav-bg: #ffffff32;
}
// $main-background: #070606;
* {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
}
button {
  background-color: transparent;
}
a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: inherit;
}
.container {
  z-index: 1;
  position: relative;
  color: var(--text);
  background: var(--bg);
  // &--dark {
  // }

  // overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 97px 23px 58px 23px;

  &__search {
    z-index: 10;
    margin: 0 13px;
  }
  // &__image-container {
  //   display: none;
  // }
  &__heading {
    margin: 0;
    margin-top: 32px;
    color: var(--text);

    max-width: 351px;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 142.857% */
    letter-spacing: 2.24px;
    &--highlight {
      color: #f14a16;
    }
  }
  &__description {
    margin-bottom: 43px;
    max-width: 367px;

    &::after {
      content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra, phasellus";
      color: var(--secondary);

      font-size: 18px;
      font-style: normal;
      font-weight: 250;
      line-height: 40px; /* 222.222% */
      letter-spacing: 0.36px;
      max-width: 367px;
    }
  }

  &__CTA {
    display: flex;
    gap: 34px;
    justify-content: space-between;
    &--mr24 {
      margin-right: 24px;
    }
    &-icon {
      filter: var(--brightness-filter);
    }
  }

  &__footer {
    margin-top: 32px;
    margin-right: -23px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 53px;
    // justify-content: center;
  }
  &__scroll-container {
    order: -1;
    align-self: flex-start;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.stack {
  display: flex;
  gap: 20px;
  &--footer {
    flex-direction: column;
    gap: 28px;
  }
  &--g32 {
    gap: 32px;
  }
  &--order {
    order: -1;
  }
  &--timer {
    gap: 18px;
    justify-content: center;
    margin: 0 -28px;
  }
  &--scroll {
    width: 100%;
    overflow-y: visible;
    overflow-x: scroll;
    align-items: flex-end;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &--sm {
    height: 209px;
  }
  &--nopad {
    box-sizing: border-box;
    margin: 0 -24px;
    padding-left: 24px;
    width: 99vw;
  }
  &__entry {
    color: white;
    flex-direction: column;
  }
  &__link {
    font-size: 24px;
    // line-height: 46px; /* 191.667% */
    letter-spacing: 0.48px;
    font-weight: 400;
    &--header {
      font-weight: 700;
    }
  }

  // overflow-y: visible;
  // z-index: 10;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  &__value {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91.176px;
    height: 91.176px;
    border-radius: 32px;
    background: #370665;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 2.3px;
  }
  &__type {
    font-size: 32px;
    // font-weight: 400;
    letter-spacing: 0.64px;
  }
}

.button {
  padding: 8px 12px;
  border-radius: 20px;
  border: 3px solid #f14a16;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.68px;
  filter: var(--button-glow);
  transition: scale 0.3s ease;
  &:hover {
    scale: 1.1;
  }
  &--img {
    height: 28px;
    border: none;
    filter: none;
    & .CTA-image {
      height: 100%;
    }
  }
  &--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  &--primary {
    color: #e5e5e5;
    background: #f14a16;
  }
  &--secondary {
    color: #f14a16;
  }
  &--scaling {
    flex: 1 1 100px;
  }
  &--sm {
    font-size: 10px;
    letter-spacing: 0.4px;
    padding: 8px 8px;
    &--bolder {
      font-size: 12px;
      letter-spacing: 0.48px;
    }
  }
  &--md {
    font-size: 14px;
    &--bolder {
      font-size: 18px;
    }
    gap: 6px;
  }
  &--lg {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.72px;
    &--bolder {
      font-size: 21px;
      font-weight: 700;
      letter-spacing: 0.84px;
    }
  }

  &__icon {
    width: 21px;
    height: 21px;
    align-self: center;
    &--sm {
      width: 15px;
      height: 15px;
    }
    &--md {
      width: 20px;
      height: 20px;
    }
  }
}

.search {
  display: flex;
  justify-content: start;
  border-radius: 30px;
  background: #f8f8f8;
  padding: 8px 13px;
  gap: 8px;
  align-items: center;
  &__icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
  &__field {
    border: none;
    position: relative;
    background: none;
    width: 100%;
    font-size: 16px;
    color: #000;
    padding: 0;
    &::placeholder {
      margin: auto;
      color: #858585;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.64px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.blob-wrapper {
  opacity: var(--show);
  position: absolute;
  box-sizing: border-box;
  overflow-x: clip;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  // overflow: hidden;
}
.hero__decorator {
  opacity: var(--show);

  &--1 {
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 420.552px;
    height: 420.552px;
    flex-shrink: 0;
    border-radius: 420.552px;
    background: #35589a;
    filter: blur(250px);
  }
  &--2 {
    position: absolute;
    top: 0;
    left: 12%;
    width: 443.813px;
    height: 443.813px;
    flex-shrink: 0;
    border-radius: 443.813px;
    background: #370665;
    filter: blur(300px);
  }
}

.navbar {
  z-index: 10;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: var(--nav-bg);
  border-radius: 0 0 20px 20px;
  backdrop-filter: blur(12px);
  @media (min-width: 768px) {
    border-radius: 0 0 40px 40px;
  }
  // height: ;
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    @media (min-width: 768px) {
      padding: 0 40px;
    }
    @media (min-width: 1280px) {
      padding: 0 40px;
    }
    &--bg-overlay {
      background: rgba($color: var(--text), $alpha: 0.05);
      border-radius: 20px;
    }
  }
  &__ham {
    width: 21px;
    height: 13px;
  }
  &__logo {
    width: 60px;
    height: 60px;
    // align-self:center ;
  }
  &__logo-wrapper {
    position: absolute; /* Position the centered item absolutely within the container */
    left: 50%;
    transform: translateX(-50%);
  }

  &__toggle {
    z-index: 10;
  }
  &__cta-icon {
    width: 18px;
    height: 18px;
    filter: var(--brightness-filter);
  }
  &__actions-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (min-width: 414px) {
      gap: 38px;
    }
    @media (min-width: 768px) {
      gap: 8px;
    }
    @media (min-width: 1080px) {
      gap: 88px;
    }
  }
  &__icons-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .nav {
    display: none;
  }
}

.toggle {
  position: relative;
  display: inline-flex;
  width: 60px;
  height: 28px;
  cursor: pointer\7;
  background-color: var(--bg);
  filter: var(--toggle-shadow);
  border-radius: 37px;
  align-items: center;
  justify-content: space-around;
  // padding-left: 14px;
  &__icon {
    max-width: 19px;
    // height:auto ;
  }
  &__cover {
    position: absolute;
    background-color: #888;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // transition: left 0.7s; /** <- removed position **/
    // transition: right 0.7s; /** <- removed position **/
    // left: 0;
    // right: 0;
    &--left {
      left: 4.5px;
    }
    &--right {
      right: 4.5px;
    }
    // right:6px;
  }

  input {
    position: absolute;
    appearance: none;
    // opacity: 0;
    // width: 0;
    // height: 0;

    &:checked {
      & + .slider {
        background-color: #2196f3;
      }
    }
  }
}

// card

.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  &--overflow {
    position: relative;
    padding: 58px 10px 17px 10px;
  }
  &--translucent {
    border-radius: 25px;
    width: 250px;
    height: 129px;
    flex: 0 0 250px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: linear-gradient(
      116deg,
      rgba(192, 192, 192, 0.63) -10.88%,
      rgba(255, 255, 255, 0.49) -10.87%,
      rgba(255, 255, 255, 0.07) 74.79%
    );
    backdrop-filter: blur(15px);
  }
  &--grey {
    // box-sizing:content-box ;
    // padding-l: 14px;
    width: 250px;
    // height: 462.766px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid var(--text);
    background: var(--card-grey-bg);
    box-shadow: var(--card-grey-shadow);
  }
  &--secondary {
    width: 325px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 5px solid #35589a;
    background: #370665;
    overflow: hidden;
    box-sizing: content-box;
  }
  &--info {
    border-radius: 25px;
    background: linear-gradient(91deg, #370665 0%, #35589a 100%);
    padding: 30px 48px 33px;
    margin: 0 40px;
    align-items: center;
    &-alt {
      padding: 42px 28px 65px;
      margin: 0;
      align-items: center;
    }
  }

  &__image {
    &--overflow {
      position: absolute;
      top: -74px;
      transform: translate(-50%, 0);
      left: 50%;
      filter: drop-shadow(7px 8px 5px rgba(0, 0, 0, 0.25));
    }
    &--banner {
      width: 248px;
      height: 220.08px;
      flex-shrink: 0;
      border-radius: 50px 50px 0px 0px;
    }
    &--cover {
      width: 325px;
      height: 322.482px;
      object-fit: cover;
      // border-radius: 50px 50px 0px 0px;
    }
  }
  &__banner {
    width: 325px;
    height: 322.482px;
    flex-shrink: 0;
  }

  &__main {
    padding: 11px 14px 18px;
    &--secondary {
      padding: 16px 19px 17px;
    }
  }
  &__heading {
    color: white;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__description {
    color: white;
    padding-top: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.32px;
    &--offset {
      color: var(--text);
    }
    &--secondary {
      font-size: 21px;
      font-weight: 400;
      line-height: 36px; /* 171.429% */
      letter-spacing: 0.42px;
      margin-bottom: 8px;
    }
    &--lh40 {
      line-height: 40px;
      padding-top: 0;
    }
    &--lh20 {
      line-height: 20px;
      padding-top: 0;
    }
    &--price {
      padding-top: 0;
      color: #fc9918;
    }
    &--price-md {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    &--inactive-price {
      padding-top: 0;
      color: var(--text);
      font-size: 12px;
      letter-spacing: 0.24px;
      text-decoration: line-through;
    }
    &--list {
      font-size: 12px;
      font-weight: 400;
      padding-left: 18px;
      letter-spacing: 0.24px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      &-secondary {
        font-size: 15px;
        font-weight: 400;
        line-height: 36px; /* 240% */
        letter-spacing: 0.3px;
      }
    }
  }

  &__footer {
    display: flex;
    gap: 12px;
    padding-left: 10px;
    padding-top: 9px;
    align-items: baseline;
    &--grey {
      padding-left: 0px;
      padding-top: 15px;
      flex-direction: column;
    }
    &--secondary {
      padding-left: 0px;
      padding-top: 14px;
      padding-bottom: 10px;
      flex-direction: column;
    }
  }
}

.section {
  padding: 64px 24px 0px;
  &--blue {
    border-radius: 25px;
    background: linear-gradient(91deg, #370665 0%, #35589a 100%);
  }
  &--padding-sm {
    padding-top: 49px;
  }
  &--flex-col {
    display: flex;
    flex-direction: column;
  }
  &--centered {
    align-items: center;
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 48px 28px 68px;
  }
  &__heading {
    color: var(--text);
    font-family: "Proxima Nova";
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 86.957% */
    letter-spacing: 0.92px;
    // margin: auto;
    text-align: center;

    &--margin-bottom {
      margin-bottom: 60px;
    }
    &--alt-order {
      order: -1;
      margin-bottom: 54px;
    }
    &--sm {
      font-size: 28px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.12px;
      margin-bottom: 43px;
    }
  }
  &__subheading {
    // color: var(--text);
    font-family: "Proxima Nova";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.72px;
    &--sm {
      text-align: center;
      font-size: 26px;
      letter-spacing: 0.78px;
    }
  }
  &__image {
    height: 140px;
    width: 140px;
    object-fit: cover;
    margin: 42px auto;
  }
}

.banner {
  position: relative;
  max-width: 450px;
  align-self: center;
  // width: 100%;
  // object-fit: cover;
  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  &__flag {
    color: white;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 28.64%;
    height: 28.64%;
    border-radius: 50%;
    background: #370665;
    box-shadow: (8px 10px 17px rgba(0, 0, 0, 0.25));
    padding: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.6px;
  }
}

.CTA-container {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  gap: 15px;
  &--gap30 {
    gap: 30px;
  }
  &--m42 {
    margin-top: 42px;
  }
  &--img {
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-top: 8px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding: 19px 17px 0px 6px;
  &--features {
    padding: 10px 0 0 18px;
  }
  &--no-gap {
    gap: 0;
  }
  &--footer-navs {
    gap: 28px;
  }
  &--no-decor {
    list-style-type: none;
  }
  &--spaced {
    gap: 74px;
  }
  &__item-flex {
    gap: 7px;
    align-items: center;
    display: flex;
  }
  &__icon {
    width: 40px;
    // height: 40px;
  }
  &__description {
    color: white;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__item {
    flex-basis: 212px;
    object-fit: cover;
    &--rounded {
      border-radius: 25px;
    }
    // margin:;
  }
}

.desktop-only {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.mobile-only {
  // display: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.footer-container {
  margin-top: 123px;
  background: #370665;
  padding-top: 29px;
  &__end {
    font-size: 21px;
    font-weight: 700;
    line-height: 46px; /* 219.048% */
    letter-spacing: 1.05px;
    align-self: center;
    text-align: center;
  }
}

.sitemap {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  &__input {
    color: var(--text) fff;
    height: 54px;
    border: #f14a16 2px solid;
    background: none;
    padding: 0px 21px;
    border-radius: 20px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-size: 21px;
      font-weight: 400;
      line-height: 36px; /* 171.429% */
      letter-spacing: 0.63px;
    }
  }
  &__submit {
    align-self: center;
    min-width: 200px;
    min-height: 52px;
  }
}
#footer-logo {
  align-self: center;
}

@media (min-width: 768px) {
  .navbar {
    &__logo-wrapper {
      width: 125px;
      height: 125px;
    }
    &__ham-wrapper {
      display: none;
    }
    &__logo-wrapper {
      position: relative; /* Position the centered item absolutely within the container */
      left: auto;
      transform: none;
    }
    &__icons-wrapper {
      gap: 4px;
      @media (min-width: 1080px) {
        gap: 20px;
      }
    }
    &__logo {
      width: 120px;
      height: 120px;
    }
    &__cta-icon {
      height: 30px;
      width: 30px;
    }
    .nav {
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 12px;
      @media (min-width: 1024px) {
        gap: 50px;
      }
      list-style-type: none;
      padding: 0;
      &__link {
        color: var(--text);
        font-size: 24px;
        letter-spacing: 0.96px;
        &--active {
          border-bottom: 2px #fc9918 solid;
        }
      }
    }
  }
  .hero {
    padding: 98px 23px 75px 90px;
    &__search {
      display: none;
    }
    // &__image-container {
    // }
    &__image {
      position: absolute;
      bottom: 117px;
      z-index: -1;
      right: 0;
      object-fit: cover;
      max-width: 80vw;
      @media (min-width: 1024px) {
        max-height: 75lvh;
        max-width: 75vw;
      }
    }
    &__description {
      max-width: 42%;
      color: #a4a4a4;

      font-size: 32px;
      font-style: normal;
      font-weight: 250;
      line-height: 40px; /* 125% */
      letter-spacing: 0.64px;
      &::after {
        max-width: 42%;
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra, phasellus imperdiet fringilla turpis lectus risus erat. Commodo purus, eu sed suspendisse fermentum";
      }
    }
    &__CTA {
      max-width: 520px;
      &--order10 {
        order: -1;
      }
      &--mr24 {
        margin: auto 15%;
      }
      &--arrow {
        filter: var(--cta-shadow);
      }
    }
    &__footer {
      flex-direction: row;
    }
  }

  .button {
    padding: 4px 8px;
    @media (min-width: 1280px) {
      padding: 18px 54px;
    }
    &--sm {
      font-size: 16px;
      letter-spacing: 0.4px;
      padding: 12px 16px;
      &--bolder {
        font-size: 20px;
      }
    }
    &--md {
      font-size: 16px;
      letter-spacing: 0.64px;
      padding: 15px 21px;
      &--bolder {
        font-size: 20px;
      }
    }
    &__icon {
      &--sm {
        width: 21px;
        height: 21px;
      }
      &--md {
        width: 30px;
        height: 26px;
      }
    }
  }

  .card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    &--overflow {
      position: relative;
      padding: 93px 15px 10px;
    }
    &--translucent {
      border-radius: 25px;
      width: 350px;
      height: 180px;
      flex: 0 0 350px;
      border: 1px solid rgba(255, 255, 255, 0.7);
      background: linear-gradient(
        116deg,
        rgba(192, 192, 192, 0.63) -10.88%,
        rgba(255, 255, 255, 0.49) -10.87%,
        rgba(255, 255, 255, 0.07) 74.79%
      );

      backdrop-filter: blur(15px);
    }
    &--grey {
      width: 376px;
      // height: 462.766px;
      flex-shrink: 0;
      border-radius: 50px;
      border: 1px solid white;
    }
    &--secondary {
      width: 501px;
    }
    &--info {
      border-radius: 25px;
      background: linear-gradient(91deg, #370665 0%, #35589a 100%);
      padding: 30px 48px 33px;
      margin: 64px 40px;
      align-items: center;
      @media (min-width: 1084px) {
        &-alt {
          padding: 42px 28px 65px;
          margin: 102px;
          align-items: center;
          flex-direction: row;
        }
      }
    }
    &__image {
      &--overflow {
        width: 150px;
        top: -103px;
      }
      &--banner {
        width: 374px;
        height: 329px;
        // flex-shrink: 0;
        // border-radius: 50px 50px 0px 0px;
      }
      &--cover {
        width: 501px;
        height: 414.701px;
        object-fit: cover;
        // border-radius: 50px 50px 0px 0px;
      }
    }
    &__main {
      padding: 17px 23px 26px;
      &--secondary {
        padding: 25px 30px 26px;
      }
    }
    &__description {
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 0.52px;
      &--lh20 {
        line-height: 36px; /* 138.462% */
      }
      &--list {
        font-size: 18px;
      }
      &--price {
        font-size: 28px;
        letter-spacing: 0.56px;
      }
      &--secondary {
        margin-bottom: 28px;
      }
    }
    &__heading {
      font-size: 45px;
      font-weight: 700;
    }
    &--info .list {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      padding-top: 30px;
      padding-bottom: 56px;
    }
    &__footer--secondary {
      gap: 23.8px;
    }
  }
  .list {
    gap: 13px;
    &__item-flex {
      gap: 21px;
    }
    &__icon {
      width: 60px;
    }
    &__description {
      font-size: 36px;
    }
  }

  .stack {
    gap: 40px;
    &--sm {
      min-height: 310px;
    }
    &--nopad {
      padding-left: 129px;
    }
    &--gap-lg {
      gap: 129px;
    }
  }

  .section {
    &__image {
      width: 350px;
      height: 350px;
      margin: 0 auto;
    }
    &__header {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__heading {
      color: var(--text);
      font-size: 64px;
      letter-spacing: 1.28px;
      &--margin-bottom {
        margin-bottom: 103px;
      }
      &--margin-top {
        margin-top: 123px;
      }
      &--sm {
        margin-bottom: 143px;
      }
      &--md {
        margin-bottom: 15px;
        font-size: 56px;
        font-weight: 700;
        letter-spacing: 1.68px;
      }
    }
    &__subheading {
      &--sm {
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 0.96px;
      }
    }
    @media (min-width: 1024px) {
      &--flex-col {
        flex-wrap: wrap;
        height: 725px;
        justify-content: center;
      }
      &__banner {
        width: 50%;
        &.banner {
          order: -1;
          max-width: 725px;
          max-height: 720px;
          // height: 100%;
          // width: 100%;
          margin: 140px auto;
        }
      }
      .banner__image {
        // order: -1;
        max-width: 725px;
        max-height: 720px;
      }

      .banner__flag {
        width: 166px;
        height: 166px;
      }
    }
  }
  .grid {
    &--fixed {
      flex-flow: row wrap;
      gap: 30px;
      justify-content: center;
      align-items: center;
    }
    &__item {
      flex-basis: 45%;
      max-width: 44%;
      max-height: 400px;
    }
  }
  .CTA-container--img {
    flex-direction: row;
    justify-content: center;
    height: 81px;
    gap: 21px;
    padding-top: 48px;
  }
  .CTA-image {
    border-radius: 25px;
    height: 81px;
    object-fit: contain;
    // max-width: 100%;
    border: 1px solid var(--text);
  }
  .button--img {
    height: 81px;
    object-fit: contain;
    // max-width: 100%;
    padding: 0;
  }

  .sitemap {
    flex-flow: row wrap;
    padding: 112px;
    &__item {
      flex: 1 1 23%;
    }
  }
  #footer-logo {
    order: -1;
    flex-basis: 0;
  }

  .stack {
    &--lg-row {
      justify-content: space-evenly;
    }
    @media (min-width: 1299px) {
      // gap: 60px;
      &--lg-row {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
    &__link {
      font-size: 28px;
      &--header {
        font-size: 32px;
      }
    }
    &--last {
      gap: 14px;
    }
  }
  .form {
    flex-direction: row;
  }

  .hero__decorator--1 {
    border-radius: 904px;
    background: #35589a;
    filter: blur(250px);
    width: 904px;
    height: 904px;
    flex-shrink: 0;
    // left: -11%;
    transform: translate(-11%, -4%);
    left: 0;
    bottom: 0;
  }

  .hero__decorator--2 {
    width: 954px;
    height: 954px;
    flex-shrink: 0;
    border-radius: 954px;
    background: #370665;
    filter: blur(300px);
    // left: -11%;
    transform: translate(10.5%, -33%);
    // left: 0;
    right: 0;
    top: 0;
    left: auto;
  }
}

// body {
//   .light-mode{
//     --black: #fcfcfc
//   }
// }
