:root {
  --primary: #f14a16;
  --bg: #070606;
  --text: #fff;
  --text-subheading: #fff;
  --secondary: #fff;
  --show: 1;
  --button-glow: drop-shadow(0px 0px 21px var(--primary));
  --card-grey-bg: linear-gradient(
    164deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100.82%
  );
  --card-grey-shadow: none;
  --cta-shadow: none;
  --toggle-shadow: none;
  --brightness-filter: none;
  --nav-bg: #fcfcfc22;
}
[data-theme="light"] {
  --show: 0;
  --text: #000;
  --secondary: #282828;
  --bg: #fcfcfc;
  --button-glow: drop-shadow(2px 4px 18px rgba(241, 74, 22, 0.25));
  --card-grey-bg: #282828;
  --card-grey-shadow: 5px 10px 18px 0px rgba(0, 0, 0, 0.25);
  --cta-shadow: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.6));
  --toggle-shadow: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
  --brightness-filter: brightness(0.117);
  --nav-bg: #ffffff32;
}
