* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
}
button {
  background-color: transparent;
}
a:link {
  text-decoration: inherit;
  color: inherit;
}
a:visited {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: inherit;
}

.container {
  z-index: 1;
  position: relative;
  color: var(--text);
  background: var(--bg);
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  &__value {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91.176px;
    height: 91.176px;
    border-radius: 32px;
    background: #370665;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 2.3px;
  }
  &__type {
    font-size: 32px;
    // font-weight: 400;
    letter-spacing: 0.64px;
  }
}

.search {
  display: flex;
  justify-content: start;
  border-radius: 30px;
  background: #f8f8f8;
  padding: 8px 13px;
  gap: 8px;
  align-items: center;
  &__icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
  &__field {
    border: none;
    position: relative;
    background: none;
    width: 100%;
    font-size: 16px;
    color: #000;
    padding: 0;
    &::placeholder {
      margin: auto;
      color: #858585;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.64px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.blob-wrapper {
  opacity: var(--show);
  position: absolute;
  box-sizing: border-box;
  overflow-x: clip;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  // overflow: hidden;
}

// card

.banner {
  position: relative;
  max-width: 450px;
  align-self: center;
  // width: 100%;
  // object-fit: cover;
  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  &__flag {
    color: white;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 28.64%;
    height: 28.64%;
    border-radius: 50%;
    background: #370665;
    box-shadow: (8px 10px 17px rgba(0, 0, 0, 0.25));
    padding: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.6px;
  }
}

.CTA-container {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  gap: 15px;
  &--gap30 {
    gap: 30px;
  }
  &--m42 {
    margin-top: 42px;
  }
  &--img {
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-top: 8px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding: 19px 17px 0px 6px;
  &--features {
    padding: 10px 0 0 18px;
  }
  &--no-gap {
    gap: 0;
  }
  &--footer-navs {
    gap: 28px;
  }
  &--no-decor {
    list-style-type: none;
  }
  &--spaced {
    gap: 74px;
  }
  &__item-flex {
    gap: 7px;
    align-items: center;
    display: flex;
  }
  &__icon {
    width: 40px;
    // height: 40px;
  }
  &__description {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__item {
    flex-basis: 212px;
    object-fit: cover;
    &--rounded {
      border-radius: 25px;
    }
    // margin:;
  }
}

.footer-container {
  margin-top: 123px;
  background: #370665;
  padding-top: 29px;
  &__end {
    font-size: 21px;
    font-weight: 700;
    line-height: 46px; /* 219.048% */
    letter-spacing: 1.05px;
    align-self: center;
    text-align: center;
  }
}

.sitemap {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  &__input {
    color: var(--text) fff;
    height: 54px;
    border: #f14a16 2px solid;
    background: none;
    padding: 0px 21px;
    border-radius: 20px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-size: 21px;
      font-weight: 400;
      line-height: 36px; /* 171.429% */
      letter-spacing: 0.63px;
    }
  }
  &__submit {
    align-self: center;
    min-width: 200px;
    min-height: 52px;
  }
}

#footer-logo {
  align-self: center;
}

@media (min-width: 768px) {
  .list {
    gap: 13px;
    &__item-flex {
      gap: 21px;
    }
    &__icon {
      width: 60px;
    }
    &__description {
      font-size: 36px;
    }
  }

  .stack {
    gap: 40px;
    &--sm {
      min-height: 310px;
    }
    &--nopad {
      padding-left: 129px;
    }
    &--gap-lg {
      gap: 129px;
    }
  }

  .grid {
    &--fixed {
      flex-flow: row wrap;
      gap: 30px;
      justify-content: center;
      align-items: center;
    }
    &__item {
      flex-basis: 45%;
      max-width: 44%;
      max-height: 400px;
    }
  }
  .CTA-container--img {
    flex-direction: row;
    justify-content: center;
    height: 81px;
    gap: 21px;
    padding-top: 48px;
  }
  .CTA-image {
    border-radius: 25px;
    height: 81px;
    object-fit: contain;
    // max-width: 100%;
    border: 1px solid var(--text);
  }

  .sitemap {
    flex-flow: row wrap;
    padding: 112px;
    &__item {
      flex: 1 1 23%;
    }
  }
  #footer-logo {
    order: -1;
    flex-basis: 0;
  }

  .form {
    flex-direction: row;
  }
}
