.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  &--overflow {
    position: relative;
    padding: 58px 10px 17px 10px;
  }
  &--translucent {
    border-radius: 25px;
    width: 250px;
    height: 129px;
    flex: 0 0 250px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: linear-gradient(
      116deg,
      rgba(192, 192, 192, 0.63) -10.88%,
      rgba(255, 255, 255, 0.49) -10.87%,
      rgba(255, 255, 255, 0.07) 74.79%
    );
    backdrop-filter: blur(15px);
  }
  &--grey {
    // box-sizing:content-box ;
    // padding-l: 14px;
    width: 250px;
    // height: 462.766px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid var(--text);
    background: var(--card-grey-bg);
    box-shadow: var(--card-grey-shadow);
  }
  &--secondary {
    width: 325px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 5px solid #35589a;
    background: #370665;
    overflow: hidden;
    box-sizing: content-box;
  }
  &--info {
    border-radius: 25px;
    background: linear-gradient(91deg, #370665 0%, #35589a 100%);
    padding: 30px 48px 33px;
    margin: 0 40px;
    align-items: center;
    &-alt {
      padding: 42px 28px 65px;
      margin: 0;
      align-items: center;
    }
  }

  &__image {
    &--overflow {
      position: absolute;
      top: -74px;
      transform: translate(-50%, 0);
      left: 50%;
      filter: drop-shadow(7px 8px 5px rgba(0, 0, 0, 0.25));
    }
    &--banner {
      width: 248px;
      height: 220.08px;
      flex-shrink: 0;
      border-radius: 50px 50px 0px 0px;
    }
    &--cover {
      width: 325px;
      height: 322.482px;
      object-fit: cover;
      // border-radius: 50px 50px 0px 0px;
    }
  }
  &__banner {
    width: 325px;
    height: 322.482px;
    flex-shrink: 0;
  }

  &__main {
    padding: 11px 14px 18px;
    &--secondary {
      padding: 16px 19px 17px;
    }
  }
  &__heading {
    color: white;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__description {
    color: white;
    padding-top: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.32px;
    &--offset {
      color: var(--text);
    }
    &--secondary {
      font-size: 21px;
      font-weight: 400;
      line-height: 36px; /* 171.429% */
      letter-spacing: 0.42px;
      margin-bottom: 8px;
    }
    &--lh40 {
      line-height: 40px;
      padding-top: 0;
    }
    &--lh20 {
      line-height: 20px;
      padding-top: 0;
    }
    &--price {
      padding-top: 0;
      color: #fc9918;
    }
    &--price-md {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    &--inactive-price {
      padding-top: 0;
      color: var(--text);
      font-size: 12px;
      letter-spacing: 0.24px;
      text-decoration: line-through;
    }
    &--list {
      font-size: 12px;
      font-weight: 400;
      padding-left: 18px;
      letter-spacing: 0.24px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      &-secondary {
        font-size: 15px;
        font-weight: 400;
        line-height: 36px; /* 240% */
        letter-spacing: 0.3px;
      }
    }
  }

  &__footer {
    display: flex;
    gap: 12px;
    padding-left: 10px;
    padding-top: 9px;
    align-items: baseline;
    &--grey {
      padding-left: 0px;
      padding-top: 15px;
      flex-direction: column;
    }
    &--secondary {
      padding-left: 0px;
      padding-top: 14px;
      padding-bottom: 10px;
      flex-direction: column;
    }
  }
  @media (min-width: 768px) {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    &--overflow {
      position: relative;
      padding: 93px 15px 10px;
    }
    &--translucent {
      border-radius: 25px;
      width: 350px;
      height: 180px;
      flex: 0 0 350px;
      border: 1px solid rgba(255, 255, 255, 0.7);
      background: linear-gradient(
        116deg,
        rgba(192, 192, 192, 0.63) -10.88%,
        rgba(255, 255, 255, 0.49) -10.87%,
        rgba(255, 255, 255, 0.07) 74.79%
      );

      backdrop-filter: blur(15px);
    }
    &--grey {
      width: 376px;
      // height: 462.766px;
      flex-shrink: 0;
      border-radius: 50px;
      border: 1px solid white;
    }
    &--secondary {
      width: 501px;
    }
    &--info {
      border-radius: 25px;
      background: linear-gradient(91deg, #370665 0%, #35589a 100%);
      padding: 30px 48px 33px;
      margin: 64px 40px;
      align-items: center;
      @media (min-width: 1084px) {
        &-alt {
          padding: 42px 28px 65px;
          margin: 102px;
          align-items: center;
          flex-direction: row;
        }
      }
    }
    &__image {
      &--overflow {
        width: 150px;
        top: -103px;
      }
      &--banner {
        width: 374px;
        height: 329px;
        // flex-shrink: 0;
        // border-radius: 50px 50px 0px 0px;
      }
      &--cover {
        width: 501px;
        height: 414.701px;
        object-fit: cover;
        // border-radius: 50px 50px 0px 0px;
      }
    }
    &__main {
      padding: 17px 23px 26px;
      &--secondary {
        padding: 25px 30px 26px;
      }
    }
    &__description {
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 0.52px;
      &--lh20 {
        line-height: 36px; /* 138.462% */
      }
      &--list {
        font-size: 18px;
      }
      &--price {
        font-size: 28px;
        letter-spacing: 0.56px;
      }
      &--secondary {
        margin-bottom: 28px;
      }
      &--inactive-price {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.36px;
      }
    }
    &__heading {
      font-size: 45px;
      font-weight: 700;
    }
    &--info .list {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      padding-top: 30px;
      padding-bottom: 56px;
    }
    &__footer--secondary {
      gap: 23.8px;
    }
  }
}
